<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d01166b1-fd38-4f05-b340-261192971c8a/resourceGroups/BMS-API/providers/Microsoft.Web/sites/BMS-API20240108214238</ResourceId>
    <ResourceGroup>BMS-API</ResourceGroup>
    <ApiResourceId>/subscriptions/d01166b1-fd38-4f05-b340-261192971c8a/resourceGroups/BMS-API/providers/Microsoft.ApiManagement/service/BMS-APIapi/apis/BMS-API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x86</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bms-api20240108214238.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3dcfd38d-298d-4277-8de1-0caee939fbb7</ProjectGuid>
    <PublishUrl>https://bms-api20240108214238.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BMS-API20240108214238</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>